<div class="N4FoundationWidget-button-container">
  {{#each buttons}}
    <button class="N4FoundationWidget-button" type="button" data-slot="{{ name }}">
      {{ displayName }}
    </button>
  {{/each}}
</div>